In [1]:
import pandas as pd
import numpy as np
import random as rd

In [2]:
dead = pd.read_csv('../raw_data/장래_성_및_연령별_사망률___전국_20231128132039.csv', index_col='연령별').T
dead = dead.iloc[2:]
dead.tail()

연령별,0세,1세,2세,3세,4세,5세,6세,7세,8세,9세,...,12세,13세,14세,15세,16세,17세,18세,19세,20세,21세
2066,0.00037,0.00002,0.00002,0.00002,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.00001,0.00002,0.00002,0.00002,0.00003,0.00003,0.00003,0.00004,0.00005,0.00006
2067,0.00036,0.00002,0.00002,0.00002,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.00001,0.00002,0.00002,0.00002,0.00003,0.00003,0.00003,0.00004,0.00005,0.00005
2068,0.00034,0.00002,0.00002,0.00002,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.00001,0.00002,0.00002,0.00002,0.00002,0.00003,0.00003,0.00004,0.00004,0.00005
2069,0.00033,0.00002,0.00002,0.00002,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.00001,0.00002,0.00002,0.00002,0.00002,0.00003,0.00003,0.00004,0.00004,0.00005
2070,0.00032,0.00002,0.00002,0.00002,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,...,0.00001,0.00001,0.00002,0.00002,0.00002,0.00003,0.00003,0.00003,0.00004,0.00005

In [3]:
date_range = pd.date_range(start='2023-01-01', end='2060-01-01', freq='YS')

# 데이터프레임 생성
born = pd.DataFrame({'Date': date_range})
born.set_index('Date', inplace=True)
born['출생아수'] = ''

In [4]:
born['출생아수']['2023-01-01'] = 100000
for i in range(1, len(born)):
    born['출생아수'][i] = born['출생아수'][i-1]-1000*rd.random()

In [5]:
born.to_csv('../raw_data/출생아수_example.csv')